body {
    margin-left: 7%;
    margin-right: 7%;
    font-family: 'Ubuntu', sans-serif;
}

footer {
    background-color: #666666;
    color: white;
    padding: 2%;
}

header {
    background-color: #333333;
    color: #FF9900;
    padding: 1%;
}

h1 {
    background-color: #FF9900;
    color: #333333;
}

nav a:link, nav a:visited {
    color:#FF9900;
    text-decoration: none;
}

nav {
    font-family: 'Source Code Pro', monospace;
}

.hidden {
    display: none;
}

/* Styles for sticking footer to the bottom of the page */
/**{margin: 0}
html, body {height: 100%;}
#wrap {min-height: 100%;margin-bottom:-33px;}
#wrap:after{content: ""; display: block;}
#footer, #wrap:after{height: 30px}*/
